@use "colors" as colors;
@use "variables" as variables;
@use "mixins" as mixins;

.postContainer {
  max-width: 780px;
  margin: calc(variables.$header-height + 1rem) auto;
  padding: 1rem;
  background-color: colors.$background;
  min-height: calc(100vh - (variables.$header-height + 1rem));

  @include mixins.mobile {
    margin: calc(variables.$header-height-mobile + 1rem) auto;
    padding: 0.75rem;
    min-height: calc(100vh - (variables.$header-height-mobile + 1rem));
  }
}

.title {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.15;
  font-family: "Roboto Mono", monospace;
  margin: 1rem 0 0.5rem;
  color: colors.$primary;
}

.date {
  font-size: 1.15rem;
  font-family: monospace;
  color: colors.$secondary;
}

.article {
  font-size: 1.0475rem;
  line-height: 1.75;

  p {
    margin-bottom: 1rem;
  }
}
