@use "colors" as colors;
@use "variables" as variables;
@use "mixins" as mixins;

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  opacity: 0;
  animation: appear 1s ease both;
  will-change: opacity, transform;
  @include mixins.hardware-acceleration();

  font-size: 4rem;
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
  line-height: 1.2;

  @include mixins.mobile {
    font-size: 4rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
  }
}

.line {
  display: block;
  width: fit-content;
  background-color: colors.$background;
  padding: 0.05em variables.$padding-horizontal;
  @include mixins.hardware-acceleration();
}
