@use "colors" as colors;
@use "variables" as variables;
@use "mixins" as mixins;

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  animation: appear 1s ease forwards;
  will-change: opacity, transform;
  @include mixins.hardware-acceleration();

  color: colors.$primary;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Roboto Mono";
  line-height: 1.2;

  @include mixins.mobile {
    font-size: 4rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
  }
}

.line {
  display: block;
  position: relative;
  isolation: isolate;
  width: fit-content;
  background-color: colors.$background;
  padding: 0.05em #{variables.$padding-horizontal};
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  @include mixins.hardware-acceleration();
}
