.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  .title {
    text-align: center;
    font-size: 9rem;
    font-weight: 900;
    position: relative;
    font-family: monospace;
    color: var(--color-primary);
  }
}
