@use "../../../../styles/base/colors" as colors;
@use "../../../../styles/utils/mixins" as mixins;

.button {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: colors.$secondary;
    @include mixins.transition(color);

    &:hover {
      color: colors.$primary;
    }

    span {
      margin-left: 0.3rem;
      font-family: monospace;
      font-size: 1rem;
    }
  }
}
