@use "sass:color";

$background: #0a0a0a;
$highlight:  #9ddbdb;
$primary:    #f0ffff;
$secondary:  #788080;

$background-light: $primary;
$max-secondary:    color.adjust($secondary, $lightness: -30%);
$primary-light:    $background;
