$header-height:             5rem;
$header-height-mobile:      4rem;
$header-offset:             20px;
$main-container-width:      1120px;
$padding-horizontal:        2.5rem;
$padding-horizontal-mobile: 1.5rem;
