@use "typography";

@use "colors" as colors;
@use "variables" as vars;
@use "mixins" as mix;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  color: colors.$primary;
  background-color: colors.$background;
}

.content {
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: visible;
  padding-top: 20px;
  position: relative;
  width: vars.$main-container-width;

  @include mix.mobile {
    padding: vars.$header-height-mobile vars.$padding-horizontal-mobile 0;
  }
}
