@use "typography";
@use "colors" as colors;
@use "variables" as variables;
@use "mixins" as mixins;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  color: colors.$foreground;
  background-color: colors.$background;
}

.content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  min-height: 100vh;
  overflow: visible;
  padding-top: 20px;
  position: relative;
  width: variables.$main-container-width;

  @include mixins.mobile {
    padding: variables.$header-height-mobile
      variables.$padding-horizontal-mobile 0;
  }
}

hr {
  border: none;
  border-top: 1px solid #{colors.$max-secondary};
  margin: 1.5rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}

th,
td {
  border: 1px solid #{colors.$max-secondary};
  padding: 0.75rem;
  text-align: left;
}
