@use "sass:map";

@use "colors" as colors;
@use "variables" as variables;
@use "mixins" as mixins;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700;900&display=swap");

$fonts: (
  "mono-medium": (
    weight: 400,
    file: "mono-medium",
  ),
  "mono-demibold": (
    weight: 700,
    file: "mono-demibold",
  ),
  "mono-bold": (
    weight: 900,
    file: "mono-bold",
  ),
);

@each $font-key, $font-info in $fonts {
  @include mixins.font-face(
    monospace,
    map.get($font-info, weight),
    "/fonts/#{map.get($font-info, file)}"
  );
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-display: swap;
  src: "https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjD8.woff2";
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  color: colors.$foreground;
  background-color: colors.$background;
}

.main-container {
  position: relative;
  width: variables.$main-container-width;
  margin: -20px auto 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
  z-index: -5;
  overflow: visible;

  @include mixins.mobile {
    padding: variables.$header-height-mobile
      variables.$padding-horizontal-mobile 0;
    margin-top: 0;
    justify-content: flex-start;
  }
}
