@use "colors" as colors;
@use "variables" as vars;
@use "mixins" as mixs;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transform: translateY(vars.$header-offset);

  .container {
    width: 100%;

    .innerContainer {
      max-width: vars.$main-container-width;
      margin: 0 auto;
      padding: 0 vars.$padding-horizontal;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: vars.$header-height;
      @include mixs.background-blur();

      .nav {
        display: flex;
        align-items: center;
        gap: vars.$padding-horizontal;
        font-size: 1rem;

        a {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          @include mixs.transition(color);
          color: colors.$secondary;

          &:hover {
            color: colors.$primary;
          }

          &.active {
            color: colors.$primary;
          }

          span {
            font-family: monospace;
            font-size: 1.33rem;
            @include mixs.transition(opacity);
          }
        }
      }

      .socialLinks {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        font-size: 1rem;
      }
    }
  }

  @include mixs.mobile {
    transform: none;

    .container {
      .innerContainer {
        max-width: 100%;
        padding: 0 vars.$padding-horizontal-mobile;
        height: vars.$header-height-mobile;

        .nav {
          gap: vars.$padding-horizontal-mobile;
          font-size: 1.25rem;
        }

        .socialLinks {
          gap: 0.75rem;
        }
      }
    }
  }
}
