@use "../../../styles/base/colors" as colors;
@use "../../../styles/utils/mixins" as mixins;

.footer {
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.mobile-styles {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .copy {
    font-size: 0.75rem;
    line-height: 1.4;
  }
}
