@use "colors" as colors;
@use "mixins" as mixins;

.footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 0.875rem;

  @include mixins.mobile {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .footerButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .copy {
    color: colors.$secondary;
    font-family: monospace;
    line-height: 1.4;
  }
}
