@use "colors" as colors;
@use "mixins" as mixs;

.button {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: colors.$secondary;
    @include mixs.transition(color, transform);

    &:hover {
      color: colors.$primary;

      svg {
        transform: translate(3px, -3px);
      }
    }

    svg {
      @include mixs.transition(transform);
    }

    span {
      margin-left: 0.3rem;
      font-family: monospace;
    }
  }
}
