@use "colors" as colors;

.postList {
  list-style: none;
  padding: 0;
  color: colors.$secondary;

  li {
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: colors.$primary;
      }
    }
  }
}
