@use "colors" as colors;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animationContainer {
  animation: fadeIn 1s ease-in-out forwards;
}

.asciiEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$background;
}
