@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  animation: fadeIn 1s forwards ease-in-out;
}

.asciiEffect {
  position: absolute;
  background-color: #0a0a0a;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
}
